@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

:root{
    /* CORES */
    --CorPrincipal: #f5e0e5;
    --CorSecundaria: #666766;
    --FundoClaro: #feebed;
    --CorTercearia: #412d24;
    /* CORES */

    /* img */
    --widthImg: 60px;
    --heightImg: 60px;
    /* img */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--CorPrincipal); */
    color: var(--CorTercearia);
    font-family: "Cormorant Garamond", serif;
}

img {
    width: var(--widthImg);
    height: var(--heightImg);
}